.profile__section
{
    margin:0 1rem;
    background: #E4E4E4 0% 0% no-repeat padding-box;
    border: 0.30000001192092896px solid #70707067;
    border-radius: 10px;
    margin-top: 100px;
}
.profile__inf__person__content
{
    margin-top: -70px;
}
.profile__banner 
{
    height:400px;
    max-height:400px;
}
.person__img
{
    width:140px;
    height:140px;
    border-radius: 50%;
    overflow:hidden;
}
.person__img > img
{
    object-fit: cover;
}
.person__name
{
    margin: .8rem 0;
}
.person__name > h5
{
    margin-right: .5rem;
    color: #161616;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.person__name > span > i
{
    color: rgb(255, 217, 0);
}
.person__job
{
    font-size:.8rem;
    margin-bottom: .8rem ;
}
.person__job > span:first-of-type
{
    margin-right: 1rem;
    color: #A2A2A2;
    letter-spacing: 1px;
    font-weight: 500;
}
.person__job > span:last-of-type
{
    color: #C45847;
    font-weight: 500;
}
.profile__inf__person__content .person__inf > button
{
    background: #656CD4 0% 0% no-repeat padding-box;
    border:none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    padding:.5rem 1.5rem;
    font-size: .93rem;
}
.profile__inf__person__content .person__inf > button > span
{
    margin-right: .4rem;
}
.profile__works
{
    margin-top: 2.5rem;
    padding:0 1.2rem 1.2rem 1.2rem;
}
.profile__works__main
{
    margin-bottom: 1rem;
}
.profile__ques
{
    width:calc(100% / 3);
    background: #86C5DF 0% 0% no-repeat padding-box;
    border: 1px solid #70707064;
    text-align: center;
    border-radius: 5px 0 0 5px;
    padding:1rem 0;
    color: #fff;
    font-size:1.2rem;
    font-weight: 400;
    cursor: pointer;
    transition:all 300ms ease-in-out;
}
.profile__ques:hover,.profile__ques__active
{
    background-color: #27519C;
}
.profile__content
{
    padding:0;
    background-color: #fff;
    border: 1px solid #70707064;
    border-radius:5px;
}

/* for any jobs expect content-writing */
.mySwiper__works
{
    max-height:800px;
    height: 1200px;
    overflow: auto;
}
.mySwiper__works__wrapper
{
    padding:1.6rem 0;
    width: 100%;
    height: 100% ;
    display: flex ;
    flex-direction: row ;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    align-content: flex-start;
}
.mySwiper__works__slide
{
    height: auto ;
    width: 29%;
    overflow: hidden;
    margin-bottom: 30px ;
    border-radius: 5px;
}
/* swiper count */
.swiper__content
{
    position:relative;
    cursor: pointer;
}
.watch__advert
{
    position:absolute;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,.5);
    z-index: 1;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    transform-origin: left;
    transform:translateX(-100%) scaleX(0);
    opacity:0;
    align-items:center;
    transition: transform 300ms ease-in-out,opacity 500ms ease-in-out;
}
.watch__advert > button
{
    background:#2C98CA;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1rem;
    padding:.5rem 2rem;
    border-radius: 5px;
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
    transition: all 300ms ease-in-out;
}
.watch__advert > button > i
{
    margin-right: .3rem;
    margin-top: 1px;
}
.watch__advert > button:hover
{
    background:#4d97ba;
}
.swiper__content:hover .watch__advert
{
    transform:translateX(0%) scaleX(1);
    opacity:1;
}
/* for content writing */
.mySwiper__contWrit__slide
{
    height:auto;
    width: 29%;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 5px;
    padding:1rem;
    background: #E4E4E4 0% 0% no-repeat padding-box;
    border: 1px solid #70707071;
}
.mySwiper__contWrit__slide > .swiper__content >img
{
    height:300px;
    object-fit: cover;
}
.mySwiper__contWrit__slide > .swiper__content > p
{
    line-height:2.2rem;
    text-align: right;
    color: #27519C;
    margin-top: 1rem;
    font-size: 1rem;
}
.mySwiper__contWrit__slide > .swiper__content > a
{
    text-align: left;
    color: #E01D1D;
    font-size: .8rem;
}
/* width */
.mySwiper__works::-webkit-scrollbar 
{
    width: 10px;
}
  
  /* Track */
.mySwiper__works::-webkit-scrollbar-track 
{
    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px 5px 12px 5px;
}

/* Handle */
.mySwiper__works::-webkit-scrollbar-thumb 
{
    background: #86C5DF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    transition:all 300ms ease-in-out;
}
  
  /* Handle on hover */
.mySwiper__works::-webkit-scrollbar-thumb:hover 
{
    background: #6ba9c4; 

}

/* customer__views */
.customer__views > img
{
    width:24%;
    min-height:200px;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 1.5rem;
}

.customer__views 
{
    justify-content: space-between;
    padding:1.5rem 1.5rem 0 1.5rem;
}

/* profile of person skills */
.profile__perProf
{
    flex-direction:row-reverse;
    /* flex-wrap: wrap; */
    padding:2rem 1rem;
    justify-content:space-between;
}
.profile__info,.prof__skills__one,.prof__skills__two
{
    background: #E4E4E4 0% 0% no-repeat padding-box;
    text-align:right;
    border-radius: 5px;
}
.profile__info,.prof__skills
{
    width:49%;
}
.profile__info > h3,.prof__skills h3
{
    font-size:1.7rem;
    line-height:2rem;
    padding:2rem 1rem 0;
    font-weight: 700;
}
.profile__info > p
{
    padding:0 1rem 0 3.5rem;
    font-weight: 500;
    overflow-wrap: wrap;
    font-size: 1rem;
    line-height:3rem;
    text-align:right;
}
.prof__skills__one
{
    margin-bottom: 1rem;
}
.prof__skills__badges
{
    padding:1rem ;
}
.prof__skills__badges > span
{
    padding: .7rem 1.5rem;
    font-size: .8rem;
    margin-bottom: 1rem;
}
.prof__skills__projPrecent
{
    padding: .5rem 1.5rem 1.2rem;
}
.prof__skills__precent
{
    background: #86C5DF 0% 0% no-repeat padding-box;
    border-radius: 9px;
    color: #fff;
    padding: .5rem 1rem;
}
.prof__skills__name
{
    color:black;
    font-weight: 500;
    font-size: 1rem;
}

/* active profile answer */
.profile__ans
{
    display:none;
}
.active__profile__ans
{
    display:block;
    transition: all 700ms ease-in-out;
}

@media only screen and (max-width: 1100px) 
{
    .customer__views,.mySwiper__works__wrapper
    {
        flex-wrap: wrap;
    }
    .mySwiper__contWrit__slide,.mySwiper__works__slide,.customer__views > img
    {
        width:48%;
    } 
}
@media only screen and (max-width: 900px) 
{
    .profile__perProf
    {
        flex-wrap: wrap;
    }
    .profile__info,
    .prof__skills
    {
        width:100%;
    } 
    .profile__info > p
    {
        line-height:2rem;
    }  
    .profile__banner 
    {
        height:200px !important;
        max-height: 200px;
    }
    .profile__inf__person__content 
    {
        margin-top: -50px;
    }
    .person__img
    {
        width:100px;
        height:100px;
    }
}
@media only screen and (max-width: 670px) 
{
    .mySwiper__contWrit__slide,.mySwiper__works__slide,.customer__views > img
    {
        width:90%;
    } 
    .profile__section
    {
        margin:80px 0 0 0;
    }
    .profile__ques 
    {
        font-size: .9rem;
    }
    .mySwiper__contWrit__slide > .swiper__content > p 
    {
        font-size: .9rem;
    }
    .customer__views 
    {
        flex-direction: column;
        justify-content:center
    }
}