.Services
{
    margin-top: 80px;
    padding: 3rem 2rem;
}
.Services__Choosing
{
    margin-top: 5rem;
    flex-direction: row-reverse;
    justify-content:space-between;
    align-items: center;
}
.Services__Choosing__banner
{
    border-radius: 15px;
    overflow: hidden;
    width:46%;
    height:46%;
}
.Services__Choosing__Selections
{
    text-align: right;
    align-self: flex-start;
    width:48%;
}
.Services__Choosing__Selections > h3
{
    color:#27519C;
    font-size: 1.6rem;
    line-height:3rem;
    letter-spacing: 0px;
}
.Services__Choosing__Selections__section
{
    display:flex;
    flex-direction:column;
    align-items:center;
}
#ChooseDropSelect
{
    width:100%;
    justify-content: flex-end;
    padding: 0.5rem 2rem;
    align-items: center;
    background: #86c1df 0% 0% no-repeat padding-box;
    border: 1px solid #7070704c;
    border-radius: 15px;
    color: #27519c;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 0;
}
#ChooseDropSelect > h4
{
    font-size: 1.2rem ;
    margin-right: 1rem;
}
#ChooseDropOptions
{
    width:94%;
    background: #86c1df 0% 0% no-repeat padding-box;
    border: 1px solid #70707051;
    border-radius: 5px;
    padding:1rem 2rem;
    margin-top: -2px;
    max-height: 700px;
    overflow-y:scroll;
    overflow-x: hidden;
}
#ChooseDropOptions > ul > li i
{
    font-size:1.2rem;
}
#ChooseDropOptions > ul > li
{
    margin-bottom: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.ChooseDropOptions__title
{
    color:#2d6ea3 !important;
    font-size: 1rem;
    font-weight:500;
}

.ChooseDropSelectService
{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    padding: .9rem 2rem;
    background: #fff;
    border-bottom: 1px solid;
    border-radius: 5px;
    color:#2d6ea3;
    padding:.9rem 2rem;
    cursor: pointer;
    transition:background 300ms ease-in-out;
}


.ChooseDropOptionsServices
{
    width:90%;
    padding: .9rem 2rem;
    background: #E4E4E4 0% 0% no-repeat padding-box;
    transition:background 300ms ease-in-out;
}
.ChooseDropOptionsServices > h5
{
    text-align: center;
    font-size: .7rem;
    letter-spacing: 0px;
    color: #ee3e3e;
    font-weight: 800;
    margin-bottom: 1rem;
}
.ChooseDropOptionsServices > li
{
    cursor: pointer;
    background: #A2A2A2 0% 0% no-repeat padding-box;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: .9rem 2rem;
    font-size: .8rem;
    font-weight:500;
    letter-spacing: 0px;
    color: #0a0b0b;
    transition:background 300ms ease-in-out;
}
.ChooseDropOptionsServices > li > span
{
    color:#27519C !important;
    font-weight: 600;
    text-decoration: none;
    margin-right: .3rem;
}
.ChooseDropOptionsServices > li:hover,
.ChooseDropOptionsServices > li:active
{
    background: #918f8f 0% 0% no-repeat padding-box;
}
.warning__dropDown
{
    margin-top: 2rem;
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.warning__dropDown>span
{
    font-size: 1rem;
    font-weight:500;
    letter-spacing: 0px;
    color: #FF0000;
    margin-right: 1rem;
}
.warning__dropDown>i
{
    font-size:1rem;
}
.Services__defination
{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    text-align: right;
    margin-top: 5rem;
}
.Services__defination__banner
{
    border: 1px solid #707070;
    border-radius: 49px;
    overflow: hidden;
    margin-bottom: 4rem;
    min-height: 250px;
    height:300px;
    width: 100%;
    max-height: 600px;
}
.Services__defination__content, .Services__defination__content ul
{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}
.Services__defination__content>ul
{
    list-style: disc;
    padding-right: 1rem;
}
.Services__defination__content>ul>li::marker
{
    color: #27519C;
    padding-left: 12rem;
}
.Services__defination__content ul
{
    margin-bottom: 0px !important;
}
.Services__defination__content__title
{
    color: #27519C;
    margin-bottom: 2rem;
    font-size:1.7rem;
    font-weight: 800;
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
}
.Services__defination__content__title>span 
{
    font-size: .8rem;
    margin-top: 0rem;
    text-align: left;
    font-weight: 400;
    margin-bottom: .5rem;
    color: #e23545;
    margin-right: 4px;
    font-weight: 500;
}
.Services__defination__content__disc
{
    list-style: disc;
    color: #195371;;
    font-size: 1rem;
    overflow-wrap: break-word;
    width:60%;
    direction:rtl;
    line-height:2.2rem;
}
.Services__defination__content__disc>p
{
    margin-right: 1rem;
}

.Services__defination__arrowTitle
{
    align-self: center;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    text-align:center;
}
.Services__defination__arrowTitle > div
{
    font-size:8rem;
    color: #FEFFFF;
    margin: 1rem 0 8rem;
    position: relative;
    width: 92px;
    height: 140px;
}  
.reading-more__services
{
    font-size: .8rem;
}
/* arrows that refers to down */
.scroll-down 
{
	margin:0;
    border: 2px solid #589fc3;
    border-radius: 100px;
    position: absolute;
    background-color: #589fc3;
	left:0%;
	top:0%;
	width:100%;
	height:100%;
}
.scroll-down a 
{
    display:block;
    opacity:0;
    border-radius :100px;
    transition:all .4s ease;
    line-height: 0; 
    font-size: 0; 
    color: transparent;
    margin:0 auto ;
    background-size:0 auto;
    animation: pulse 1.5s ease 0s infinite normal forwards;
    background-image: url('https://jamesmuspratt.com/codepen/img/arrow-down.svg');
    background-repeat:no-repeat;
    height:100%
}
.scroll-down a::before, .scroll-down a::after {
    content: " ";
    position:absolute;
    top:0;
    left:0;
    display:block;
    background: url('https://jamesmuspratt.com/codepen/img/arrow-down.svg') no-repeat center top;
    background-size:100% auto;
    height:100%;
    width:100%
}
.scroll-down a::before 
{   
    animation: pulse 1.5s ease 0.25s infinite normal forwards;
}
.scroll-down a::before	 
{ 
    animation: pulse 1.5s ease 0.5s infinite normal forwards;
}
.scroll-down a:hover 
{
    transform:scale(1);
    background-color:#2D6EA3;

}
@keyframes pulse{
	0%			{ opacity: 0; background-position:center top; background-size:0 auto;}
	10%			{opacity: 0; }
	50%	      {opacity: 1; background-size:75% auto;}
	90%			{opacity: 0; }
	100%		{ opacity: 0; background-position:center bottom;  background-size:0 auto;}

}

/* slider for teams */
.mySwiper2
{
    margin-top: 3rem;
    overflow:visible;
}
.mySwiper2__wrapper
{
    height:2059px;
    max-height:2440px;
}
.mySwiper2__slide
{
    background: #E4E4E4 0% 0% no-repeat padding-box;
    border: 0.30000001192092896px solid #70707047;
    max-height:23%;
    border-radius: 10px;
}
.mySwiper2__next
{
    top: -32px;
    right: 40%;
}
.mySwiper2__prev
{
    top: -32px;
    left:40%;
    margin-right: 10px;
}
.mySwiper2__prev,.mySwiper2__next
{
    background-color: transparent;
}
.mySwiper2__prev::after,.mySwiper2__next::after
{
    font-size:15px;
}
.mySwiper2__pagination
{
    background-color:rgba(255, 255, 255, 0.349) !important;
    border-radius: 5px;
    bottom: 23px !important;
}
.mySwiper2__pagination>.swiper-pagination-bullet
{
    border:none;
    border-radius: 10px;
    width:31px !important;
    height:31px !important;
    font-weight: 500;
    color: #fff;
    background:#1f55b2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Services-section-three-card
{
    padding:2rem 1.5rem;
}
.Services-section-three-card-Title
{
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    align-items: flex-start;
}
.Services-section-three-card-Title > p
{
    color: #161616;
    overflow-wrap: break-word;
    text-align:right;
    font-size: .8rem;
    font-weight: 500;
    width:50%;
}
.Services-section-three-card-Title__name
{
    font-size:1rem;
    font-weight:600;
    margin-left: .5rem;
    font-size: .7rem;
    font-weight: 700;
}
.Services-section-three-card-Title__name > p
{
    font-size:.9rem;
    margin:0;
}
.Services-section-three-card-Title__name > i
{
    color: #f39f2a
}
.Services-section-three-card-Title-brand
{
    border-radius: 50%;
    overflow: hidden;
    height:70px;
    margin-top: -6px;
    width:70px;
    object-fit:cover;
}
.small__title
{
    font-size:.8rem;
    margin-top: .6rem;
    font-weight: 400;
    display:block;
    color: #C45847;
}
.Services-section-three-card > h5
{
    background: #2D6EA3 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px 10px 0px 0px;
    font-size: 1rem;
    padding:.6rem 0;
    color: #fff;
    margin-bottom: 0;
}
/* sliders for works */
.mySwiper3
{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius:0 0 10px 10px;
    padding:1rem 1rem 2rem 1rem;
    overflow-x: hidden;
    margin-bottom: 1.5rem;
}
.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal 
{
    left: 50%;
    transform: translateX(-50%);
    height: 8px;
    bottom:6%;
    border: 1px solid #d1d1c0;
    width: 85%;
}
.swiper-scrollbar-drag
{
    background: #2D6EA3;
}
.mySwiper3__wrapper>.swiper-slide
{
    border-radius: 10px;
    height:150px;
}
.mySwiper3__wrapper>.swiper-slide>img
{
    object-fit: cover;
}
.Services__card__button > button
{
    border: none;
    outline: none;
    background: #2D6EA3 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding:1rem;
    text-align:center;
    color: #fff;
    font-size:.9rem;
}
.Services__card__button > button:hover
{
    background:#86C5DF
}
.Services__card__button > button:first-of-type
{
    margin-right: 1rem;
}
.Services__card__button > button a
{
    text-decoration: none;
    color: #fff
}
@media only screen and (min-width: 1400px) {
    .Services__defination__banner
    {
        height:auto
    }
}
@media only screen and (max-width: 900px) 
{
    .Services
    {
        padding: 1rem;
    }
    .Services__Choosing
    {
        margin-top: 1rem;
        flex-direction: column;
    }   
    .Services__Choosing__banner
    {
        width:100%;
        height:100%;
        margin-bottom:1rem
    }
    .Services__Choosing__Selections
    {
        text-align: right;
        align-self: flex-start;
        width:100%;
    } 
    
    #ChooseDropSelect,#ChooseDropOptions,.ChooseDropSelectService,.ChooseDropOptionsServices
    {
        padding:0.9rem;
    }
    .ChooseDropOptionsServices 
    {
        width:100%;
    }
    .Services__defination
    {
        margin-top: 2rem;
    }
    .Services__defination__banner
    {
        border-radius: 20px;
    }
    .Services__defination__content__disc 
    {
        width:80%;
        font-size: 1rem;
    }
    .Services__defination__content__title 
    {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
    }
    .Services__defination__arrowTitle > div {
        font-size: 8rem;
        color: #FEFFFF;
        margin: 1rem 0 4rem;
    }    
    .Services__defination__arrowTitle > div {
        width: 63px;
        height: 91px;
    }
}
@media only screen and (max-width: 600px) {
    .Services__defination__banner
    {
        margin-bottom: 2rem;
        height:250px;
    }
    .Services__defination__content__disc 
    {
        width:100%;
        font-size: .8rem;
        line-height: 1.5rem;
    }
    .Services__defination__content__disc>p 
    {
        margin-right: .3rem;
    }
    .Services__defination__content__title 
    {
        font-size: 1.4rem;
        margin-bottom: 0rem;
        line-height: 2rem;
        flex-direction: column;
        align-items:center;
    }
    .mySwiper2__slide
    {
        max-height:23%;
    }
    .Services-section-three-card 
    {
        padding:1.2rem 1rem;
    }
    .Services-section-three-card-Title 
    {
        flex-direction: column-reverse;
    }
    .Services-section-three-card-Title > p {
        margin-top: .6rem;
        width: 100%;
    }
    .mySwiper2__wrapper 
    {
        height: 2219px;
    }
    .Services__card__button > button 
    {
        padding: .7rem;
    }
    .mySwiper2__next
    {
        right: 38%;
    }
    .mySwiper2__prev
    {
        left:38%;
    }
}
.activeOptions
{
    display:none;
}
.activeOptionsLikes
{
    display:none
}
.ChooseDropSelectService:hover,
.ChooseDropSelectService:active,
.ChooseDropSelectLikesActive
{
    background-color: #dbe9ef !important;
}